<!DOCTYPE html>
{% extends "basic_app/base.html" %}
 {% block body_block %}
    <h1>WELCOME TO INDEX</h1>
    <h2>this is index.html page showing</h2>
    <h3>{{ text|cut:'world' }}</h3>
    <h4>YOUR NUMBER IS {{ number|add:"99" }}</h4>
 {% endblock%}
