<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-brand" href="{% url 'index' %}">DJANGO</a>
          </li>
          <li>
            <a class="navbar-link" href="{% url 'admin:index' %}">ADMIN</a>
          </li>
          <li>
            <a class="navbar-link" href="{% url 'basic_app:register' %}">REGISTER</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a class="navbar-link" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <li>
            <a class="navbar-link" href="{% url 'basic_app:user_login' %}">Login</a>
          </li>
          {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body_block %}
      {% endblock%}
    </div>
  </body>
</html>
